@page "/rooms"

<section class="flex flex-col gap-3">
    <h1 class="text-2xl font-bold">Huis TiFiRy</h1>
    <a href="/tasks/all" class="btn btn-ghost w-100 justify-between bg-base-200">
            <div class="text-blue-600">Alle taken</div>
            <div class="flex items-center gap-3 text-slate-400">
                <div>0</div>
                <ArrowRightShieldIcon Class="mask mask-hexagon bg-accent" />
            </div>
    </a>

    <a href="/tasks/completed" class="btn btn-ghost w-100 justify-between bg-base-200">
            <div>Voltooide taken</div>
            <div class="flex items-center gap-3 text-slate-400">
                <div>0</div>
                <ArrowRightShieldIcon Class="mask mask-hexagon bg-accent" />
            </div>
    </a>
</section>

<section>
    <div class="flex items-center justify-between">
        <h2 class="text-lg font-bold">Kamers</h2>
        <div class="flex gap-3">
            <NavLink class="btn btn-accent mask mask-hexagon btn-sm" href="/rooms/edit">
                <PencilIcon />
            </NavLink>
            <NavLink class="btn btn-accent mask mask-hexagon btn-sm" href="/rooms/add">
                <CirclePlusIcon />
            </NavLink>
        </div>
    </div>
</section>